.carousel-item {
  height: 100vh;
  width: 100%;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.carousel-item * > h5 {
  background: rgba(255, 255, 255, 0.5);
  padding: .5rem;
  border-radius: .5rem;
}

.carousel-item * > p {
  max-width: 500px;
  line-height: 1.8;
}

@media screen and (max-width: 664px) {
  .carousel-item * > p {
    max-width: 300px;
  }
}

.nav-pills .nav-link {
  color: #000;
  font-weight: bold;
  letter-spacing: .2rem;
}

.nav-pills .nav-link.active {
  background: #198754 !important;
}

.nav-pills .show > .nav-link {
  background: #198754 !important;
}

.tab-content .card {
  margin: auto;
}

.solutions {
  width: 100%;
  height: 100vh;
  background: url("../img/fun-facts-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 758px) {
  .solutions {
    height: auto;
    padding: 1rem 1rem;
  }
}
